app = "reuno-mqtt-q7qt9w"
primary_region = "iad"

[[services]]
  internal_port = 1883
  protocol = "tcp"

  [[services.ports]]
    port = 1883

  auto_start_machines = true
  auto_stop_machines = true
  min_machines_running = 0

[[vm]]
  cpu_kind = "shared"
  cpus = 1
  memory = "1gb"
